@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: GeistSans, Arial, Helvetica, sans-serif, monospace;
}

@layer base {
  :root {
  --background: 0 0% 100%;
  --foreground: 0 0% 20%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 20%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 20%;
  --primary: 217.2193 91.2195% 59.8039%;
  --primary-foreground: 0 0% 100%;
  --secondary: 220.0000 14.2857% 95.8824%;
  --secondary-foreground: 215 13.7931% 34.1176%;
  --muted: 210 20.0000% 98.0392%;
  --muted-foreground: 220 8.9362% 46.0784%;
  --accent: 204.0000 93.7500% 93.7255%;
  --accent-foreground: 224.4444 64.2857% 32.9412%;
  --destructive: 0 84.2365% 60.1961%;
  --destructive-foreground: 0 0% 100%;
  --border: 220 13.0435% 90.9804%;
  --input: 220 13.0435% 90.9804%;
  --ring: 217.2193 91.2195% 59.8039%;
  --chart-1: 217.2193 91.2195% 59.8039%;
  --chart-2: 221.2121 83.1933% 53.3333%;
  --chart-3: 224.2781 76.3265% 48.0392%;
  --chart-4: 225.9310 70.7317% 40.1961%;
  --chart-5: 224.4444 64.2857% 32.9412%;
  --sidebar: 210 20.0000% 98.0392%;
  --sidebar-foreground: 0 0% 20%;
  --sidebar-primary: 217.2193 91.2195% 59.8039%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 204.0000 93.7500% 93.7255%;
  --sidebar-accent-foreground: 224.4444 64.2857% 32.9412%;
  --sidebar-border: 220 13.0435% 90.9804%;
  --sidebar-ring: 217.2193 91.2195% 59.8039%;
  --font-sans: GeistSans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: 0 0% 9.0196%;
  --foreground: 0 0% 89.8039%;
  --card: 0 0% 14.9020%;
  --card-foreground: 0 0% 89.8039%;
  --popover: 0 0% 14.9020%;
  --popover-foreground: 0 0% 89.8039%;
  --primary: 217.2193 91.2195% 59.8039%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 14.9020%;
  --secondary-foreground: 0 0% 89.8039%;
  --muted: 0 0% 14.9020%;
  --muted-foreground: 0 0% 63.9216%;
  --accent: 224.4444 64.2857% 32.9412%;
  --accent-foreground: 213.3333 96.9231% 87.2549%;
  --destructive: 0 84.2365% 60.1961%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 25.0980%;
  --input: 0 0% 25.0980%;
  --ring: 217.2193 91.2195% 59.8039%;
  --chart-1: 213.1169 93.9024% 67.8431%;
  --chart-2: 217.2193 91.2195% 59.8039%;
  --chart-3: 221.2121 83.1933% 53.3333%;
  --chart-4: 224.2781 76.3265% 48.0392%;
  --chart-5: 225.9310 70.7317% 40.1961%;
  --sidebar: 0 0% 9.0196%;
  --sidebar-foreground: 0 0% 89.8039%;
  --sidebar-primary: 217.2193 91.2195% 59.8039%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 224.4444 64.2857% 32.9412%;
  --sidebar-accent-foreground: 213.3333 96.9231% 87.2549%;
  --sidebar-border: 0 0% 25.0980%;
  --sidebar-ring: 217.2193 91.2195% 59.8039%;
  --font-sans: GeistSans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.375rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Custom scrollbar styles */
  ::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: #f0f0f0; /* Track color */
  }

  .dark ::-webkit-scrollbar-track {
    background: #333333; /* Track color */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar thumb color */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid #f0f0f0; /* Space around thumb */
  }

  .dark ::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar thumb color */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid #333333; /* Space around thumb */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Thumb color on hover */
  }
}

@layer utilities {
  /* Text Sizes */

  .text-10 {
    @apply text-[10px] leading-[14px];
  }

  .text-12 {
    @apply text-[12px] leading-[16px];
  }

  .text-14 {
    @apply text-[14px] leading-[20px];
  }

  .text-16 {
    @apply text-[16px] leading-[24px];
  }

  .text-18 {
    @apply text-[18px] leading-[22px];
  }

  .text-20 {
    @apply text-[20px] leading-[24px];
  }

  .text-24 {
    @apply text-[24px] leading-[30px];
  }

  .text-26 {
    @apply text-[26px] leading-[32px];
  }

  .text-30 {
    @apply text-[30px] leading-[38px];
  }

  .text-36 {
    @apply text-[36px] leading-[44px];
  }
  
  /* Loading Animation */
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 800px;
  }
  
  .loader-cube {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    animation: rotate 4s infinite linear;
  }
  
  .loader-cube:before,
  .loader-cube:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  
  .loader-cube:before {
    transform: rotateX(90deg) translateZ(50px);
  }
  
  .loader-cube:after {
    transform: rotateY(90deg) translateZ(50px);
  }
  
  .loader-cube .face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 248, 248);
    opacity: 0.8;
    border: 2px solid rgb(252, 250, 250);
  }
  
  .loader-cube .face:nth-child(1) {
    transform: rotateY(0deg) translateZ(50px);
    background-color: #e74c3c;
  }
  
  .loader-cube .face:nth-child(2) {
    transform: rotateX(90deg) translateZ(50px);
    background-color: #3498db;
  }
  
  .loader-cube .face:nth-child(3) {
    transform: rotateY(180deg) translateZ(50px);
    background-color: #2ecc71;
  }
  
  .loader-cube .face:nth-child(4) {
    transform: rotateX(-90deg) translateZ(50px);
    background-color: #f1c40f;
  }
  
  .loader-cube .face:nth-child(5) {
    transform: rotateY(90deg) translateZ(50px);
    background-color: #9b59b6;
  }
  
  .loader-cube .face:nth-child(6) {
    transform: rotateY(0deg) translateZ(-50px);
    background-color: #1abc9c;
  }
  
  @keyframes rotate {
    0% {
      transform: rotateY(0deg) rotateX(0deg);
    }
  
    100% {
      transform: rotateY(1turn) rotateX(1turn);
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent; /* Semi-transparent black overlay */
    display: none;
    z-index: 9999; /* Ensure it's on top of everything */
  }
  
}

/* React-Split Gutter */
.gutter-horizontal {
  cursor: col-resize;
}

.gutter-vertical {
  cursor: row-resize;
}

.gutter-horizontal:hover {
  background: #1a90ff;
  border-radius: 10px;
  border: 4px solid #ffffff;
}

.gutter-vertical:hover {
  background: #1a90ff;
  border-radius: 10px;
  border: 4px solid #ffffff;
}

.dark .gutter-horizontal:hover {
  background: #1a90ff;
  border-radius: 10px;
  border: 4px solid #171717;
}

.dark .gutter-vertical:hover {
  background: #1a90ff;
  border-radius: 10px;
  border: 4px solid #171717;
}
